.carousel-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.carousel-links .carousel-dot {
    background-color: black;
    width: 12px;
    height: 12px;
    margin: 5px 10px;
    display: block;
    border-radius: 50%;
}

.carousel-slides {
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    scroll-behavior: smooth;
}

.slide-content {
    height: 100%;
    width: 100%;
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cat-carousel-image img {
    width: 200px;
    height: 150px;
}

.card-content div > h3 {
    font-size: 2em;
    margin-bottom: 10px;
  }

@media screen and (min-width: 768px) {
    .carousel-links .carousel-dot {
        width: 16px;
        height: 16px;
        margin: 15px 10px;
    }
    .carousel-slides {
        height: 55vh;
    }

    .card-content > div{
        font-size: x-large;
    }
    .cat-carousel-image img {
        width: 40vw;
        height: 40vh;
        margin-bottom: 20px;
    }
}