.footer {
    background-color: var(--dark-primary-color);
    color: black;
    text-align: center;
    padding: 20px;
  }
  
  .footer-content {
    margin-bottom: 20px;
  }
  
  .footer h1 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .footer h4 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .social-network {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .social-network a {
    color: black;
    font-size: 20px;
  }
  
  .social-network a:hover {
    color: gray;
  }
  