.navbar {
  background-color: var(--dark-primary-color);
  color: var(--primary-text);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  height: auto;
}

.navbar div > h1 {
  font-weight: bold;
}
.brand span {
  color: var(--light-primary-color);
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 40%;
  z-index: 1;
  opacity: 0;
  transform: translateX(-110%);
}

.menu a {
  color: var(--text-icons); 
  text-decoration: none;
  padding: 4px;
  font-size: large;
  transition: all 0.3s ease-in-out;
}

.projects-link {
  display: block;
  color: var(--primary-text);
  text-decoration: none;
}


@media screen and (min-width: 768px) {
   .menu { 
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: none;
  }

  .menu li {
    margin: 0.5em;
  }

  .menu a:hover {
    cursor: pointer;
    color: var(--primary-text);
    text-decoration: underline;
  }

  .projects-link-container {
    display: none;
  }
}