:root {
    --primary-color: #2196F3;
    --light-primary-color: #BBDEFB;
    --dark-primary-color: #1976D2;
    --secondary-color: #6f8dac;
    --accent-color: #334299;
    --primary-text: #212121;
    --secondary-text: #757575;
    --text-icons: #FFFFFF;
}

body {
    background-color: var(--light-primary-color);
}

.header-image img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    max-height: 850px; 
  }


.divider {
    background-color: var(--dark-primary-color);
    color: transparent;
    height: 30px;
    margin-bottom: 10px;
} 

.container {
    margin-bottom: 20px;
    padding: 10px;
}

.paragraph-content {
    font-size: 1.2em;
    text-align: justify;
    padding: 10px;
}

